header{
    width: 99%;
    height: 7rem;
    flex-direction: column-reverse;
    margin: 1rem 1rem;
}
.body img{
    width: 40rem;
    height: 20rem;
} 

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main {
    flex: 2;
    display: flex;
}

.body {
    display: flex;
    flex: 1;
}
.section id{
    grid-template-columns: repeat(3, 1fr);
}
.item_product {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    max-width: 200px;
}

.box_img img {
    max-width: 100%;
}

.box_description {
    margin-top: 10px;
}

.buy_btn {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}

.buy_btn:hover {
    background-color: #0056b3;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    background-color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.popup input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}